header{
    position: relative;
    width: 95%;
    height: 50px;
    background-color: gainsboro;
    margin: 2%;
    display: inline-flex;
}

footer{
    position: relative;
    width: 95%;
    height: 50px;
    background-color: gainsboro;
    margin: 2%;
    display: inline-flex;
}

div{
    position: relative;
    width: 95%;
    height: 50px;
    background-color: gainsboro;
    margin: 2%;
    display: block;
}

h1{
    position: relative;
    margin: auto;
}

h2{
    position: relative;
    margin: auto;
}

h3{
    position: relative;
    margin: auto;
}

h4{
    position: relative;
    margin: auto;
}

h5{
    position: relative;
    margin: auto;
}

h6{
    position: relative;
    margin: auto;
}

p{
    position: relative;
    margin: auto;
}

img{
    position: relative;
    width: 95%;
    height: 50px;
    background-color: gainsboro;
    margin: 2%;
    display: block;
}

audio{
    position: relative;
    width: 95%;
    height: 50px;
    background-color: white;
    margin: 2%;
    display: block;
}

video{
    position: relative;
    width: 95%;
    height: 50px;
    background-color: gainsboro;
    margin: 2%;
    display: block;
}

iframe{
    position: relative;
    width: 95%;
    height: 50px;
    background-color: gainsboro;
    margin: 2%;
    display: block;
}