
body{
    background: plum;
    overflow-y: auto; 
    overflow-x: hidden;
    
}

header{
    background: greenyellow;
    margin: 1%;
}

.Mainpart{
    position: relative;
    background: rgb(208, 223, 128);
    width: 100%;
    height: auto;
    top: auto;
    bottom: 0;
    overflow: auto;
}

.items{
    position: relative;
    width:45%;
    height: 300px;
    margin: 2%;
    background: transparent;
    display: inline-table;
    border: 10px solid rgb(243, 235, 235);
    outline: dotted;
    
}

.car{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10%;
    
}

.Price{
    position: relative;
    color: white;
    margin: auto;
    
}
.cars{
    color: white;
    margin: auto;
    text-align: left;
    left: 1%;
}

.Title{
    position: relative;
    width: 100%;
    font-family: sans-serif;
    font-size: 50px;
    text-overflow:ellipsis;
    margin: 1%;
    text-align: center;

}


.icons{
    position: relative;
    height:30px;
    width: 40px;
    margin: auto;
    margin-right: 1%;
}


@media screen and (max-width:800px) {
    
    .Title{
        position: relative;
        width: 100%;
        font-family: algerian;
        font-size: 20px;
        text-overflow:ellipsis;
        margin: 2%;
        text-align: center;

    }
}